body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scoreboard__roundContainer {
  padding: 2px;
  margin: 3px;
}

.scoreboard__player {
  display: flex;
  gap: 10;
}

.scoreInput__container {
  display: flex;
  margin: 10px;
  padding: 4px;
  border: 1px solid gray;
}